<hr>
footer <br />
<ul>
	<li>
		<a href="#">Link1</a>
	</li>

	<li>
		<a href="#">Link2</a>
	</li>

	<li>
		<a href="#">Link3</a>
	</li>

	<li>
		<a href="#">Link4</a>
	</li>
	
	<li>
		<a href="#">Link5</a>
	</li>
</ul>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', '{{googleAnalytics}}');
 ga('send', 'pageview');
</script>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>



<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
 var stripe   = Stripe('{{stripePubKey}}');
 var elements = stripe.elements();
</script>
<script src="/javascripts/stripe-form-wrapper.js"></script>




  
<!-- <script src="/javascripts/jquery.min.js"></script> -->

<script src="/javascripts/registration.js"></script>    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    

<script src="/bower_components/bootstrap-sweetalert/dist/sweetalert.min.js"></script>

<!-- <script src="dist/switchery.js"></script> -->
<!-- <script>
$( document ).ready(function() {
  
  
  
});

</script> -->

<!-- {% include "sweet-alert-flash.html" %} -->


{% if sweetAlertShow %}

<script>
$( document ).ready(function() {

function show_popup(){
	
      // swal(
      // 	"Congratulations! Your email has been created.",
      // 	"Please wait until your domain comes online (usually just a few minutes, but sometimes up to a couple hours)",
      // 	"success"
      // 	);

      swal({
      	title: "Congratulations! Your email has been created.",
      	text:  "Please wait until your domain comes online (usually just a few minutes, but sometimes up to a couple hours)",
      	type: "success",
      	timer: 2000
      	}).then(function(){

      	});


   };
   if( $( '.forward-email' ).length ){
   	window.setTimeout( show_popup, 3000 );	
   }
   
	
	
});

</script>

{% endif %}      

<!-- <script>
$( document ).ready(function() {

function show_popup(){
      swal("Good job!", "You have popup message!", "success");
   };
   if( $( '.forward-email' ).length ){
   	window.setTimeout( show_popup, 3000 );	
   }
   
	
	
});

</script> -->
<!--  -->


<!-- <script src="/javascripts/app.js"></script> -->