form.form-horizontal(action='/user/password', method='POST')
  .form-group
    label.col-sm-3.control-label(for='password') New Password
    .col-sm-4 

      +input('password','password', 'Password')

  .form-group
    label.col-sm-3.control-label(for='confirm') Confirm Password
    .col-sm-4

      +input('password','confirm', 'Confirm Password')

  .form-group
    .col-sm-offset-3.col-sm-4
      button.btn.btn-primary(type='submit') Update Password
