<form {% if !user.stripe.last4 %}id="cardForm"{% endif %} 
      action="/user/plan" method="POST" 
      class="form-horizontal"
      id="billing2" >

  <div class="form-group">
    <label for="plan" class="col-sm-3 control-label">
      Plan
    </label>
    <div class="col-sm-4">

      {% for plan in plans %}

        {% if plan.change == true %}
          not free plan
        {% endif %}

        {% if plan.change == true %}
        
          {% include "_plan-partial.html" %}



        {% endif %}

        

      {% endfor %}

    </div>
  </div>

  {% if !user.stripe.last4 %}

    {% include "_stripe-card2-partial.html" %}

  {% endif %}

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <button type="submit" class="btn btn-primary">
        Update Plan
      </button>
    </div>
  </div>

</form>