<form accept-charset="UTF-8" action="/login" method="POST" role="form">
  <div class="form-group">
    <label for="email">
    Email
    </label>
    <input class="form-control" id="email" name="email" type="text" value="{{form.email}}" autofocus>
  </div>
  <div class="form-group">
    <label for="user_password">
    Password
    </label>
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>

  <div class="form-group">
    <input type="checkbox" name="remember_me" value="yes">Remember Me<br>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

</form>