<form action="/user" method="POST" class="form-horizontal">

	<div class="form-group">
		<label for="email" class="col-sm-3 control-label">
		  Email
		</label>
		<div class="col-sm-4">
		  {% include "fields/email-field.html" with {'value':value} %}
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-3 control-label">
		Name
		</label>
		<div class="col-sm-4">
			<input type="text" 
			name="name" id="name" 
			value="{{user.profile.name}}"
			class="form-control">
		</div>
		
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-3 control-label">
		  Customer ID
		</label>
		<div class="col-sm-4">
		  <div class="form-control-static">
		    {{user.stripe.customerId}}
		  </div>
		</div>
	</div>

	
	<div class="form-group">
		<label for="name" class="col-sm-3 control-label">
		  Plan
		</label>
		<div class="col-sm-4">
		  <p class="form-control-static">
		  	
		  </p>
		</div>
	</div>
	

	<div class="form-group">
		<label for="name" class="col-sm-3 control-label">
		  Last 4
		</label>
		<div class="col-sm-4">
		  <p class="form-control-static">
		    {{user.stripe.last4}}
		  </p>
		</div>
	</div>	

	<div class="form-group">
		<label for="domain" class="col-sm-3 control-label">
		  Domain name
		</label>
		<div class="col-sm-4">
		  <input type="text" name="domain" id="domain" 
		  
		  value="{{domain}}"
		  class="form-control" disabled="">
		</div>

	</div>

	<div class="form-group">
		<label for="forward_email" class="col-sm-3 control-label">
		  Forward email
		</label>
		<div class="col-sm-4">

			{% include "fields/email-field.html" with {'value':forwardEmail, 'name':'forward_email'} %}

		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-4">
			<button type="submit" class="btn btn-primary">
			  <span class="ion-edit"></span>
			  Update Profile
			</button>
		</div>
	</div>





</form>