<!-- Fast Registration Form -->
<form id="fast-reg" role="form" action="/domain-search">
    <!-- Notification -->
    <p class="fast-success">
	    <i class="icon icon_check_alt2"></i> 

	    <strong>
	        Congratulation! You have 3 values for your domain name
	    </strong>

    </p>

    <p class="fast-failed">
	    <i class="icon icon_close_alt2"></i>

	    <strong> 
	        Something went wrong! Please enter another domain name
	    </strong>
    </p>  

    <!-- Input fields -->
    <div class="form-group">
        <input type="text" name="fast-somain" 
        id="fast-domain" class="form-control input-lg" 
        placeholder="Search for a name..." required>
    </div>

    <!-- <div class="form-group">
        <input type="password" size="25" name="fast-password" id="fast-password" class="form-control input-lg" placeholder="Enter your Password" required>
    </div> -->

    <!-- Signup Button -->
    <button class="btn btn-color">
        Search
    </button>
</form>