      <form action="/signup2" method="post" 
      role="payment-form" id="payment-form">

        <div class="form-group">
          <label class="sr-only" for="inputDomain">
          Domain name
          </label>
          {% include "fields/domain-name.html" %}          
          
        </div>

        <div class="form-group">
          <label class="sr-only" for="inputEmail">
          your <u>existing</u> email
          </label>

          {% include "fields/email-field.html" with {'value':form.email} %}

          <span class="help-block">
            All emails sent to [anything]@mydomain.me will be received here
          </span>
        </div>
        

        <div class="form-group">
          <label class="sr-only" for="inputPassword">
          choose a password
          </label>


          {% include "fields/password-field.html" with {'placeholder':'choose a password'}%}

        </div>


        <div class="form-group">
          <label class="sr-only" for="inputPasswordCheck">
          repeat password
          </label>

          {% include "fields/password-field.html" with {'name':'confirm', 'placeholder':'repeat password'} %}
          
        </div>



        <!-- pricing plans partial -->
        <!-- {% include "fields/password-field.html" %} -->

        <div class="row">
          <div class="col-md-6">
            <a href='#' data-plan="quarterly" class="btn btn-primary btn-block btn-sign-up1">
              Quarterly
            </a>
          </div>

          <div class="col-md-6">
            <a href='#' data-plan="yearly" class="btn btn-primary btn-block btn-sign-up2">
              Yearly
            </a>
          </div>
        </div>
        
        

        <input type="hidden" name="plan" value="free" id="plan" />



      </form>
