<form action="/user/password" method="POST" class="form-horizontal">

  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">
      New Password
    </label>
    <div class="col-sm-4">
      {% include "fields/password-field.html" %}

    </div>
  </div>

  <div class="form-group">
    <label for="confirm" class="col-sm-3 control-label">
      Confirm Password
    </label>
    <div class="col-sm-4">
      {% include "fields/password-field.html" with { 'name':'confirm'}%}

    </div>
  </div>
  

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <button type="submit" class="btn btn-primary">
      	Update Password
      </button>
    </div>
  </div>
  
</form>