<form action="/whois" method="POST" 
      class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>
      Source address
    </legend>

<!--     <div class="row">
      <div class="col-xs-6 col-sm-12 col-md-6">
        
      </div>      
      <div class="col-xs-6 col-sm-12 col-md-6">
        
      </div>      
    </div> -->


    <div class="col-xs-7 col-sm-7 col-md-7">
      <div class="form-group">

         <input type="text" name="first_name" id="first_name" 
         			class="form-control input-sm" 
              placeholder="First Name" 
              value="{{user.profile.first_name}}">

         <span class="required">*</span>
      </div>
     </div>

      <div class="col-xs-7 col-sm-7 col-md-7">
          <div class="form-group">

              <input type="text" name="last_name" id="last_name" 
              class="form-control input-sm" 
              placeholder="Last Name" 
              value="{{user.profile.last_name}}">

              <span class="required">*</span>
          </div>
      </div>


      <!-- Text input-->
      <div class="form-group">

        <div class="col-xs-7 col-sm-7 col-md-7">
          <input id="company_name" name="company_name" 
          type="text" 
          placeholder="Company name" 
          class="form-control input-md" required="" 
          value="{{user.profile.company_name}}">

          <span class="required">*</span>
        </div>
      </div>


      <!-- Text input-->
      <div class="form-group">
        
        <div class="col-xs-7 col-sm-7 col-md-7">
          <input id="address1" name="address1" 
          type="text" placeholder="Address" 
          class="form-control input-md" 
          value="{{user.profile.address}}">

          <span class="required">*</span>

        </div>
      </div>


      <!-- Text input-->
      <div class="form-group">
        
        <div class="col-xs-7 col-sm-7 col-md-7">
          <input id="zip" name="zip" type="text" 
          placeholder="Postcode" 
          class="form-control input-md" 
          required="" 
          value="{{user.profile.zip}}">

          <span class="required">*</span>
          
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        
        <div class="col-xs-7 col-sm-7 col-md-7">
          <input id="city" name="city" type="text" 
          placeholder="City" 
          class="form-control input-md" 
          required="" 
          value="{{user.profile.city}}">

          <span class="required">*</span>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        
        <div class="col-xs-7 col-sm-7 col-md-7">
          <input id="state" name="state" type="text" 
                 placeholder="State / Province" 
                 class="form-control input-md" 
                 required="" value="{{user.profile.state}}">

          <span class="required">*</span>
        </div>
      </div>

      {% include "_country-field.html" %}





      <!-- Text input-->
      <div class="form-group">
        
        <div class="col-xs-7 col-sm-7 col-md-7">
          {% include "fields/phone-field.html" %}
        </div>
      </div>



      <!-- Text input-->
      <div class="form-group">
        
        <div class="col-xs-7 col-sm-7 col-md-7">
          <input id="fax" name="fax" type="text" 
                 placeholder="Fax number" 
                 class="form-control input-md" 
                 value="{{user.profile.fax}}" />
         <!-- <span class="required">*</span> -->
        </div>
      </div>


      <!-- @TODO Move to the right side -->
      <div class="example">
        <div class="pull-left margin-right-20">
          <input type="checkbox" 
                 id="inputBasicOff" 
                 name="enable-whois" data-plugin="switchery"
          />
        </div>
        <label class="padding-top-3" for="inputBasicOff">
          Enable WHOIS
        </label>
      </div>



      <input type="submit" name="submit" 
             value="Save and go to my account" 
             class="btn btn-raised btn-primary btn-block active" />


  </fieldset>
</form>