<form action="/whois-settings" method="POST" class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>
      Source address
    </legend>


    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="form-group">
      <!-- <label class="col-lg-12 col-sm-3 control-label">First Name
                      <span class="required">*</span>
                    </label> -->
         <input type="text" name="first_name" id="first_name" 
         			class="form-control input-sm" 
              placeholder="First Name" 
              value="{{user.profile.first_name}}">

         <span class="required">*</span>
      </div>
     </div>

      <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
            <!-- <label class="col-lg-12 col-sm-3 control-label">Last Name
                <span class="required">*</span>
            </label> -->
              <input type="text" name="last_name" id="last_name" 
              class="form-control input-sm" 
              placeholder="Last Name" 
              value="{{user.profile.last_name}}">

              <span class="required">*</span>
          </div>
      </div>


      <!-- Text input-->
      <div class="form-group">
        <!-- <label class="col-md-4 control-label" for="State">Company name</label>   -->
        <div class="col-md-12">
          <input id="company_name" name="company_name" 
          type="text" 
          placeholder="Company name" 
          class="form-control input-md" required="" 
          value="{{user.profile.company_name}}">

          <span class="required">*</span>
        </div>
      </div>


      <!-- Text input-->
      <div class="form-group">
        <!-- <label class="col-md-4 control-label" for="address1">address</label>   -->
        <div class="col-md-8">
          <input id="address1" name="address1" 
          type="text" placeholder="address" 
          class="form-control input-md" 
          value="{{user.profile.address}}">

          <span class="required">*</span>

        </div>
      </div>


      <!-- Text input-->
      <div class="form-group">
        <!-- <label class="col-md-4 control-label" for="zip">Zip/Postcode</label>   -->
        <div class="col-md-4">
          <input id="zip" name="zip" type="text" 
          placeholder="Postcode" 
          class="form-control input-md" 
          required="" 
          value="{{user.profile.zip}}">

          <span class="required">*</span>
          
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <!-- <label class="col-md-4 control-label" for="city">City</label>   -->
        <div class="col-md-6">
          <input id="city" name="city" type="text" 
          placeholder="City" 
          class="form-control input-md" 
          required="" 
          value="{{user.profile.city}}">

          <span class="required">*</span>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <!-- <label class="col-md-4 control-label" for="State">State / Province</label>   -->
        <div class="col-md-6">
          <input id="state" name="State" type="text" 
                 placeholder="State / Province" 
                 class="form-control input-md" 
                 required="" value="{{user.profile.state}}">

          <span class="required">*</span>
        </div>
      </div>

      {% include "_country-field.html" %}





      <!-- Text input-->
      <div class="form-group">
        <!-- <label class="col-md-4 control-label" for="phone">Phone number</label>   -->
        <div class="col-md-8">
          {% include "fields/phone-field.html" %}
        </div>
      </div>



      <!-- Text input-->
      <div class="form-group">
        <!-- <label class="col-md-4 control-label" for="fax">Fax number</label>   -->
        <div class="col-md-8">
          <input id="fax" name="fax" type="text" 
                 placeholder="Fax number" 
                 class="form-control input-md" 
                 value="{{user.profile.fax}}" />
         <!-- <span class="required">*</span> -->
        </div>
      </div>


      <!-- @TODO Move to the right side -->
      <div class="example">
        <div class="pull-left margin-right-20">
          <input type="checkbox" 
                 id="inputBasicOff" 
                 name="enable-whois" data-plugin="switchery"
          />
        </div>
        <label class="padding-top-3" for="inputBasicOff">
          Enable WHOIS
        </label>
      </div>



      <input type="submit" name="submit" 
             value="Save and go to my account" 
             class="btn btn-raised btn-primary btn-block active" />

  </fieldset>
</form>