<form action="/whois" method="POST" 
      class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>
      Source address
    </legend>

    <div class="row">
      <!-- left side -->
      <div class="col-xs-6 col-sm-12 col-md-6">

        <div class="col-xs-7 col-sm-7 col-md-7">
        <div class="form-group">

           <input type="text" name="first_name" id="first_name" 
                class="form-control input-sm" 
                placeholder="First Name" 
                value="{{user.profile.first_name}}">

           <span class="required">*</span>
        </div>
       </div>

        <div class="col-xs-7 col-sm-7 col-md-7">
            <div class="form-group">

                <input type="text" name="last_name" id="last_name" 
                class="form-control input-sm" 
                placeholder="Last Name" 
                value="{{user.profile.last_name}}">

                <span class="required">*</span>
            </div>
        </div>


        <!-- Text input-->
        <div class="form-group">

          <div class="col-xs-7 col-sm-7 col-md-7">
            <input id="company_name" name="company_name" 
            type="text" 
            placeholder="Company name" 
            class="form-control input-md" required="" 
            value="{{user.profile.company_name}}">

            <span class="required">*</span>
          </div>
        </div>


        <!-- Text input-->
        <div class="form-group">
          
          <div class="col-xs-7 col-sm-7 col-md-7">
            <input id="address1" name="address1" 
            type="text" placeholder="Address" 
            class="form-control input-md" 
            value="{{user.profile.address}}">

            <span class="required">*</span>

          </div>
        </div>


        <!-- Text input-->
        <div class="form-group">
          
          <div class="col-xs-7 col-sm-7 col-md-7">
            <input id="zip" name="zip" type="text" 
            placeholder="Postcode" 
            class="form-control input-md" 
            required="" 
            value="{{user.profile.zip}}">

            <span class="required">*</span>
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          
          <div class="col-xs-7 col-sm-7 col-md-7">
            <input id="city" name="city" type="text" 
            placeholder="City" 
            class="form-control input-md" 
            required="" 
            value="{{user.profile.city}}">

            <span class="required">*</span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          
          <div class="col-xs-7 col-sm-7 col-md-7">
            <input id="state" name="state" type="text" 
                   placeholder="State / Province" 
                   class="form-control input-md" 
                   required="" value="{{user.profile.state}}">

            <span class="required">*</span>
          </div>
        </div>

        {% include "_country-field.html" %}





        <!-- Text input-->
        <div class="form-group required">
          
          <div class="col-xs-7 col-sm-7 col-md-7">
            {% include "fields/phone-field.html" %}
            <span class="required">*</span>
          </div>
        </div>



        <!-- Text input-->
        <div class="form-group required">
          
          <div class="col-xs-7 col-sm-7 col-md-7">
            <!-- {% include "fields/phone-field.html" %} -->
            {% include "fields/phone-field.html" with {'value':user.profile.fax, 'name':'fax', 'placeholder':'Fax number'} %}
            <!-- <input id="fax" name="fax" type="text" 
                   placeholder="Fax number" 
                   class="form-control input-md" 
                   value="{{user.profile.fax}}" /> -->
           <!-- <span class="required">*</span> -->
          </div>
        </div>


        <input type="hidden" name="email" value="{{user.email}}" />





        <input type="submit" name="submit" 
               value="Save and go to my account" 
               class="btn btn-raised btn-primary btn-block active" />

      </div>      

      <!-- right side -->
      <div class="col-xs-6 col-sm-12 col-md-6">

         

        <div class="example">
          <div class="pull-left margin-right-20">

            {% include "fields/enable-whois-checkbox.html" %}
          </div>

          <label class="padding-top-3" for="inputBasicOff">Privacy switch</label>
        </div>

      <!-- Privacy switch ON / OFF <br /> -->
      Here is the WHOIS of your domain appears:<br />
      email:<div id="email_value"></div><br />

      first name:<div id="first_name_value"></div><br />
      last name:<div id="last_name_value"></div><br />

      address:<div id="address1_value"></div><br />

      City: <div id="city_value"></div><br />

      Country:<div id="country_value"></div><br />

      <!-- email:<div id="email-value"></div><br /> -->

      phone:<div id="phone_value"></div><br />

      fax:<div id="fax_value"></div><br />



        
        
        
        
        
        

      </div>      
    </div>




  </fieldset>
</form>