<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>
    {% block title %}Default Title{% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css -->

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- <link rel="stylesheet" href="/stylesheets/stripe-style.css"> -->





  </head>
  <body>


    {% include "../partials/navbar.html" %}

    {%- block content -%}{%- endblock-%}
    {% include "../partials/flash.html" %}



    {% include "../partials/footer.html" %}


</body>
</html>
