<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Dashboard Title{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel="stylesheet" href="/bower_components/bootstrap-sweetalert/dist/sweetalert.css" />

    <link rel="stylesheet" href="/stylesheets/stripe-styles.css" />

    <link rel="stylesheet" href="/bower_components/switchery/dist/switchery.css" />

    <!-- <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css" /> -->
    <link rel="stylesheet" href="/stylesheets/select2-addon.css" />

  </head>
  <body>


 

    {% include "../partials/navbar-logged-in.html" %}

    {%- block content -%}{%- endblock-%}

   

    {% include "../partials/footer.html" %}

</body>
</html>