doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')    
    
    


    

  body.index-page

    .navbar.navbar-transparent.navbar-absolute.so-navbar
      .container
        .navbar-header
          //-a.navbar-brand(href="/")
          a(href="/")
            .logo-container
              .logo 
                img(src="/images/logo32.png", alt="Go to home page")
              .brand.so-brand CutStream

    .wrapper
      .header.header-filter
        .container
          .row
            .col-md-8.col-md-offset-2 


      .main.main-raised

      footer.footer
        .container





    script(src='/javascripts/wizard/jquery-2.2.4.min.js')
    
    script(src='/javascripts/wizard/bootstrap.min.js')
