{% extends '../layouts/dashboard.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <div class="container-fluid container-max">
    <div class="page-header">
      My Account <small>/views/dashboard/profile</small>
    </div>

    {% include "../partials/flash.html" %}

	<h3>
      Profile
    </h3>
    
    {% include "../forms/profile.html" %}
	<hr>

      <h3>Password</h3>
      <hr>
     {% include "../forms/update-password.html" %}
     <hr>

     <h3>Delete Account</h3>
     <hr>
     {% include "../forms/delete-subscription.html" %} 

<!--     <div class="well">
      <p>Debug Info:</p>
      <ul>
        <li>Does this user have a plan? {% if _.has(plans, user.stripe.plan) %}YES{% else %}NOPE{% endif %}</li>
        <li>Does this user have paid plan? {% if _.contains(['silver','gold','platinum'], user.stripe.plan) %}YES{% else %}NOPE{% endif %}</li>
      </ul>
    </div> -->

  </div>
</div>
{% endblock %}