    <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        edit subscription <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
        <a href="/user/switch-account">
        change to yearly after current period
        </a>
        </li>
        <li>
        <a href="/update-card">
        edit payment method
        </a>
        </li>
        <li>
        <a href="/user/forward-email">
        change forward email
        </a>
        </li> 
        <li>
        <a href="/user/subscription/cancel">
        cancel my subscription
        </a>
        </li>
        <li>
        <a href="/user/delete">
        delete my account
        </a>
        </li>        
        <!-- <li role="separator" class="divider"></li> -->
        <!-- <li><a href="#">Separated link</a></li> -->
      </ul>
    </div>