link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')    

link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')    

link(rel='stylesheet', href='/build/style.css')   

link(rel='stylesheet', href='/build/bootstrap-sweetalert/dist/sweetalert.css') 
