//link(rel='shortcut icon', href='/favicon.png')
//link(rel='stylesheet', href='/css/main.css')

link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')    

