extends layout


block content
  
  .clearfix
  br
  br
  br
  br
  br


  .container.vmiddle.fast-reg(style='max-width: 400px;')

    .row
      .col-md-12
        .hero-section
          Welcome - Hero Message
        
          h1.text-white  Startup heading
          p.text-white Sub-heading
          h2 Home Page

          include account/forms/login



          hr
          p.text-center
            a(href='/signup2') sign up here
            |  or 
            a(href='/forgot') forgot password?

