doctype html
html.no-js
  head
    title= Default title
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')    
    
    link(rel='stylesheet', href='/build/style.css')   

    link(rel='stylesheet', href='/build/bootstrap-sweetalert/dist/sweetalert.css')   

    link(rel='stylesheet', href='/build/bootstrap-sweetalert/dist/sweetalert.css')   

    link(rel='stylesheet', href='/build/bootstrap-sweetalert/dist/sweetalert.css')   

    link(rel='stylesheet', href='/build/bootstrap-sweetalert/dist/sweetalert.css')   

    

  body.index-page


    include partials/navbar-logged-in.pug  

    block content
    
    include partials/flash.pug   

    include partials/footer.pug   

