doctype html
html.no-js
  head
    title= Default title
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')    
    
    link(rel='stylesheet', href='/build/style.css')   

    link(rel='stylesheet', href='/build/bootstrap-sweetalert/dist/sweetalert.css')   


    

  body.index-page

    include partials/navbar.pug  

    block content
    
    include partials/flash.pug   

    .navbar.navbar-transparent.navbar-absolute.so-navbar
      .container
        .navbar-header
          //-a.navbar-brand(href="/")
          a(href="/")
            .logo-container
              .logo 
                img(src="/images/logo32.png", alt="Go to home page")
              .brand.so-brand CutStream

    .wrapper
      .header.header-filter
        .container
          .row
            .col-md-8.col-md-offset-2 


      .main.main-raised



     include partials/footer.pug   

